aioeasywebdav==2.2.0
aiohttp==3.5.4
alabaster==0.7.12
anaconda-client==1.2.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.2.1
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.6
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==1.4.2
blinker==1.4
bokeh==1.2.0
boto==2.49.0
boto3==1.9.167
botocore==1.12.167
Bottleneck==1.2.1
bz2file==0.98
cachetools==2.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
clyent==1.2.2
cmd2==0.9.12
colorama==0.4.1
colormath==3.0.0
conda==4.7.12
conda-build==3.10.6
conda-package-handling==1.3.10
conda-verify==3.4.2
ConfigArgParse==0.13.0
configparser==3.7.3
contextlib2==0.5.5
cryptography==2.7
cutadapt==2.3
cycler==0.10.0
Cython==0.29.10
cytoolz==0.9.0.1
dask==1.2.2
datrie==0.7.1
decorator==4.4.0
defusedxml==0.5.0
distributed==1.28.1
dnaio==0.3
docutils==0.14
docx==0.2.4
docx2csv==0.1.0
dropbox==9.3.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filechunkio==1.6
filelock==3.0.10
Flask==1.0.3
ftputil==3.2
funcsigs==1.0.2
future==0.17.1
gdc-client==1.4.0
gensim==3.7.3
gevent==1.1rc4
gitdb2==2.0.5
GitPython==2.1.11
glob2==0.4.1
gmpy2==2.0.8
google-api-core==1.12.0
google-auth==1.2.1
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
graphviz==0.13.2
greenlet==0.4.15
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
HTSeq==0.11.0
idna==2.8
idna-ssl==1.1.0
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.18
intervaltree==2.1.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
jeepney==0.4
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
keyring==19.0.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
lief==0.9.0
linecache2==1.0.0
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.4
lzstring==1.0.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.4
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.13
mkl-random==1.0.4
mkl-service==2.0.2
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.6.1
multidict==4.5.2
multipledispatch==0.6.0
multiqc==1.7
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.3
nltk==3.2.5
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
oauthlib==3.0.1
olefile==0.46
openpyxl==2.6.2
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.1.2
parso==0.4.0
partd==0.3.10
path.py==12.0.1
pathlib2==2.3.3
pathspec==0.5.9
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prettytable==0.7.2
progressbar==2.5
prometheus-client==0.7.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.0.5
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.1.1
Pygments==2.4.2
pygraphviz==1.3.1
PyJWT==1.7.1
pylint==2.3.1
PyNaCl==0.3.0
pyodbc==4.0.24
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.7.0
pyqtspinner==0.1.1
PyQt5==5.15.2
pyrsistent==0.15.2
pysam==0.15.2
pysftp==0.2.9
PySocks==1.7.0
pytest==4.6.3
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-docx==0.8.10
python-irodsclient==0.7.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==18.0.1
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
ratelimiter==1.2.0
requests==2.22.0
requests-oauthlib==1.2.0
rope==0.14.0
rsa==3.1.4
ruamel-yaml==0.15.71
s3transfer==0.2.1
scandir==1.10.0
scikit-image==0.14.2
scikit-learn==0.21.1
scipy==1.2.1
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.4
smmap2==2.0.5
snakemake==5.2.2+2.g0c46403
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.2
spectra==0.0.11
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.1
sphinxcontrib-websupport==1.1.2
spyder==3.3.4
spyder-kernels==0.5.0
SQLAlchemy==1.3.5
statsmodels==0.10.0
sympy==1.4
tables==3.4.4
tblib==1.4.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toolz==0.9.0
tornado==6.0.3
tqdm==4.32.1
traceback2==1.4.0
traitlets==4.3.2
twython==3.7.0
typed-ast==1.4.0
typing==3.5.2.2
typing-extensions==3.7.4
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.11.2
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.1.8
xlwt==1.3.0
xmlrunner==1.7.7
xopen==0.7.0
yamllint==1.13.0
yarl==1.3.0
zict==0.1.4
zipp==0.5.1
